.details-container {
  min-height: 100vh;
  background-color: #f5f7fa;
  display: flex;
  flex-direction: column;
}
.details-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.main-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main-details {
    flex-direction: row;
    justify-content: center;
  }
}
.details-img {
  margin: 20px;
  width: 100%;
  max-width: 235px;
  border-radius: 12px;
}
@media screen and (min-width: 768px) {
  .details-img {
    margin: 50px;
  }
}
.details-item-text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .details-item-text {
    text-align: left;
  }
}
.details-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #334155;
  margin: 6px 0px;
}
.details-author {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin: 6px 0px;
}
.details-rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  margin: 6px 0px;
  height: 24px;
}
.details-status {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}
.about-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  color: #334155;
}
.about {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .details-title {
    font-size: 32px;
    margin: 12px 0px;
    color: #475569;
  }
  .details-author,
  .details-rating-container,
  .details-status {
    font-size: 24px;
    margin: 12px 0px;
  }
  .details-rating-container {
    justify-content: flex-start;
    height: 32px;
  }
  .about-heading {
    font-size: 24px;
  }
  .about {
    font-size: 16px;
  }
}
