.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .navbar {
    padding: 16px 100px;
  }
}
.logo {
  width: 92px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 133px;
  }
}
.menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.menu-item {
  display: none;
  margin-left: 40px;
}
.hamburger-menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fa;
}
.show-menu {
  display: flex;
}
.hide-menu {
  display: none;
}
.hamburger-menu-item {
  margin: 0px 8px;
}
.link {
  text-decoration: none;
  color: #64748b;
}
@media screen and (min-width: 768px) {
  .hamburger-menu-item {
    display: none;
  }
  .menu-item {
    display: flex;
  }
}
.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.logout-btn {
  width: 73px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  background-color: #0284c7;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
